.slider {
    width: 16px;
    height: 16px;
    position: absolute;
    left: calc(50% - 16px/2 - 10px);
    top: calc(50% - 16px/2);
    background: rgba(29, 27, 32, 1);
    opacity: 38%;
    border-radius: 50%;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.checkbox:checked+.switch {
    background: #015958;
    opacity: 100%;
}

.checkbox:checked+.switch .slider {
    width: 24px;
    height: 24px;
    left: calc(50% - 24px/2 + 10px);
    top: calc(50% - 24px/2);
    background: #ffffff;
    opacity: 100%;
}